---
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Strelitzia</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About</h1>
    <h2>...and about of my new astro site!</h2>

    <p>Im going to do Astro tutorial, this is second website of my site</p>

    <p>addd</p>
</body>
</html>